@font-face {
    font-family: "Nunito"; 
    src: url("https://fonts.googleapis.com/css2?family=Nunito&display=swap") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
  } 
  @font-face {
    font-family: 'Montserrat', sans-serif;
    src: url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap") format("truetype");  
  }
  .card{
    width: 200px;
    height: 200px;
  }
  .second{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
  }
  .third{
    margin-top: 100px;
    margin-bottom: 50px;
  }
.fith{
  margin-top: 50px;
  margin-bottom: 50px;
}
.a{
  font-family: "Montserrat";
}